<!doctype html>
<html lang="en" ng-app="application">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat - App</title>
    <link href="css/app.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script src="vendors/angular-cookies.min.js"></script>
    <script src="js/foundation-angular.js"></script>
    <script src="js/foundation-app.js"></script>
    <script src="js/routes.js"></script>


    <script src="/socket.io/socket.io.js"></script>
    <script src="js/app.js"></script>
    </script>
  </head>

  <style>
    .message-input, .message-input .inline-label, .menu-bar {margin-bottom: 0;}
    #sidebar, .messages {border-right: 1px solid #eee;}
    .message-side-bar {border-left: 1px solid #eee;}
    .avatar-section {border-top: 1px solid #eee;}
  </style>

  <body data-ng-controller="chatController">
    <div class="grid-frame">
      <div zf-panel position="left" id="sidebar" class="medium-grid-block collapse medium-3 large-3 vertical">
        <div class="grid-content collapse shrink hide-for-medium">
          <a href="" class="secondary button expand" zf-close>Close</a>
        </div>
        <div class="grid-content collapse shrink">
          <!--<img src="http://placehold.it/400x150&text=Logo">-->
        <img src="">
        </div>
        <div class="grid-content">

          <section class="block-list">
            <header>USUÁRIOS</header>
            <ul>
              <li data-ng-repeat="u in usuarios">
                <a href="#">
                  {{u.nome}}
                  <span class="block-list-label">online</span>
                </a>
              </li>
            </ul>
          </section>

          <!-- <section class="block-list">
            <header>People</header>
            <ul>
              <li>
                <a href="#">
                  Glen Coco
                  <span class="block-list-label">2</span>
                </a>
              </li>
              <li>
                <a class="success" href="#">
                  Guy Guyerson
                  <span class="block-list-label">2</span>
                </a>
              </li>
            </ul>
          </section> -->
        </div>
        <div class="grid-content collapse shrink avatar-section">
            <!--<img src="http://placehold.it/50x50">-->
            <img src="">
            {{userName}}
        </div>
      </div>

      <div class="grid-block collapse medium-9 large-9 vertical">
        <div id="header" class="shrink collapse grid-content">
          <ul class="menu-bar primary">
            <li class="hide-for-medium"><a zf-open="sidebar" href="#">Menu</a></li>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </div>
        <div class="grid-block">
          <div class="grid-block small-12 medium-12 vertical">
            <div class="grid-content">
                <div id="messages-list" data-ng-repeat="msg in mensagens | orderBy:'data'" data-ng-class="{'text-right': ownUser(msg.userName)}">
                  <h4>
                      <img src="img/user.png" width="30" height="30">
                      {{msg.userName}} <small> - {{msg.data | date: 'dd/MM/yyyy - HH:mm'}}</small>
                  </h4>
                  <p>{{msg.message}}</p>
                  <hr />
                </div>
            </div>
            <div class="message-input grid-content collapse shrink">
              <form data-ng-submit="sendMessage()">
                <span class="inline-label">
                  <input type="text" placeholder="Message" data-ng-model="corpoMensagem">
                  <a href="#" class="button" data-ng-click="sendMessage()">Send</a>
                </span>
              </form>
            </div>
          </div>
          <!-- <div class="grid-content medium-3 show-for-medium message-side-bar">
            <section class="block-list">
              <header>In This Room</header>
              <ul>
                <li><a href="#">Cady Heron</a></li>
                <li><a href="#">Kevin Gnapoor</a></li>
                <li><a href="#">Trang Pak</a></li>
                <li><a href="#">Coach Carr</a></li>
                <li><a href="#">Regina George</a></li>
              </ul>
            </section>
          </div> -->
        </div>
      </div>

    </div>
  </body>
</html>

<!-- ui-view  -->
